body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }


  header {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 1em;
  }
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute space between logo and social links */
  }
  
  
  .logo-container {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    border-radius: 50%; /* Make it round */
    overflow: hidden; /* Hide any overflowing image */
    margin-right: 10px; /* Add space between logo and title */
  }
  
  .logo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Make the image cover the container */
  }
  /*RIGHT SIDE OF THE HEADER */
  .social-links {
    display: flex;
    align-items: center;
  }
  
  .social-links a {
    margin-left: 10px;
    color: white; /* Or any color you prefer */
    font-size: 20px; /* Adjust size as needed */
  }
  
  /*FOR RESPONSIVE HEADER*/
  @media (max-width: 768px) {
    .header-content {
      flex-direction: column; /* Stack logo, title, and social links vertically */
      align-items: center; /* Center items horizontally */
      text-align: center; /* Center text within the header */
    }
  
    .logo-container {
      margin: 10px 0; /* Add margin top and bottom */
    }
  
    h1 {
      font-size: 1.2em; /* Reduce heading size */
      margin: 10px 0; /* Add margin top and bottom */
    }
  
    .social-links {
      margin-top: 10px; /* Add margin top */
      justify-content: center; /* Center social links */
    }
  
    .social-links a {
      margin: 0 5px; /* Adjust margin for smaller screens */
      font-size: 16px; /* Reduce font size */
    }
  }
  
  /*FOR THE CONTACT US FORMS*/
